body {
    
    background-color: rgb(224, 217, 209);
  }
.App{
    text-align: center;
    
}
.fontstyle {
    padding: 50px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  font-size: x-large;
}
.nav-links {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    margin-top: -90px;
}

.nav-links ul { 
    list-style: none; 
    margin-right: 15px; 
    cursor: pointer;
    transition: color 0.3s ease; 
}

/* Hover effect */
.nav-links ul:hover {
    color: #FF7F50; 
}

.header{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    margin-top: 60px;
}
.signinbutton{
    width: 30%;
}
.signin{
    width: 33.5%;
    height: 40px;
    color:white;
    background-color: rgb(255, 171, 16);
    border-radius: 8px;
    border-color: rgb(255, 171, 16);
}
.text{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: small;
    text-align: center;
    margin-top: 50px;
    margin-left: -100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}


.text2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: small;
    text-align: center;
    margin-top: -35px;
    margin-left: 154px;
    color: rgb(255, 171, 16);
    cursor: pointer;

    
    opacity: 0; 
    animation: fadeIn 1.5s ease forwards; 
    animation-delay: 0.5s; 

}

.footer {
    background-color: rgb(41, 40, 40); 
    color: white; 
    text-align: center;
   padding: 20px;
    margin-top: 160px; 
  }
